@tailwind base;
@tailwind components;
@tailwind utilities;

.size-6 {
    width: 24px;
    height: 24px;
}

/* Default light theme */
body {
    background-color: #fffff0;
    color: #2d3748;
}

/* Dark theme */
body.dark {
    background-color: #2d3748;
    color: #fffff0;
}
